*{
    margin: 0;
    padding: 0;
}
#wrapper {
    width:80%;
    margin: auto;
}
h1{
    color:rgb(255, 166, 242);
    font-family: "Yuji Syuku", serif;
    font-size: 3em;
    text-decoration: wavy;
    text-align: center;
    text-transform: uppercase;
    margin: auto;
    padding: 10%;
    width: 60%;
}
ul{
list-style-type: none;
text-transform: none;
}

img{
    width: 30% 
}
hr{
    color:rgb(0, 123, 168);
}
h2{
    font-family: "Nunito Sans", sans-serif;
    text-decoration: solid;
    margin: auto;
    padding: 10%;
    width: 60%;
}
p{
    font-family: "Nunito Sans", sans-serif;
    font-size: 0.95em;
    text-align: left;
}
nav{
    font-family: "Nunito Sans", sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    margin: auto;
    padding: 10%;
    width: 60%;
}
body{
    background-color: rgba(255, 255, 255, 0.34);
    background-image: url(5765931B-5EA6-4414-8009-2AF977FC096D.JPG);
    background-size: 25em;
    background-blend-mode: color-burn;
    margin: auto;
    padding: 0%;
    width: 60%;
}
a:link{
    color: rgb(255, 0, 230);
}
a :visited {color: rgb(0, 123, 168);}
a :hover {color: rgb(255, 255, 0)}